/* 
    Created on : 15/05/2016, 20:36:45
    Author     : Fabio
*/
@charset "UTF-8";
/*Inicio do Menu*/
.menuNav{
	background-color:#0047b3;
	border:1px solid black;
	border-radius:0px 0px 8px 8px;
	margin-bottom:20px;
}
.navbar-inverse{
	background-color: #0047b3;
	border:0;
}

.navbar-inverse .navbar-nav >li > a {
	color:white;
	padding-top:30px;
	padding-right:30px;
	font-size:20px;
}
.navbar-inverse .navbar-nav >li > a:hover{
	color:yellow;

}
.navbar-inverse .navbar-brand{
	font-size:28px;
	margin:20px;
	color:yellow;
}
/*Menu Small*/
div .menuNavSmall{
	position:relative;
	top:20px;
	left:0;
	padding-left:20px;
	display:none;
}
div .menuNavSmall button{
	background-color:#0047b3;
	color:white;
	font-size:20px;
	font-weight:bold;
	border:1px solid white;
	transition: 0.5s;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    background-color:#0047b3;
    border-color:white;
	color:white;
	
}
.btn-default.active, .btn-default:focus, .open>.dropdown-toggle.btn-default {
	background-color:#0047b3;
    border-color:white;
	color:white;
	
}
.open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    background-color:#0047b3;
    border-color:white;
	color:white;
}

div .menuNavSmall ul{
	background-color:#0047b3;
}

div .menuNavSmall ul li a{
	color:white;
	font-size:20px;
}
div .menuNavSmall ul li a:hover{
	background-color:#ECECEC;
}

@media(max-width:992px){
.menuNavNormal{
	display:none;
}
div .menuNavSmall{
	display:inline-block;
}
	
}
@media(max-width:768px){
div .menuNavSmall{
	position:relative;
	top:0px;
	padding-left:20px;
	display:inline-block;
}
}
/*Fim do Menu-------------------------------------------------------------------------------------------------------------------------------*/
